:root
{
    background-color: black;
    background-image: url("images/spiderman.jpg");
    background-repeat: repeat;
    color: white;
}
@font-face
{
    font-family: Arvo-Bold;
    src: url("css/fonts/Arvo-Bold.ttf")
}
h1
{
    font-family:Montserrat-Black;
    src: url("css/fonts/Montserrat-Black.ttf")
}
table tr th,td
{
    border: 2px solid gray;
}
td img
{
    display:block;
    width: 100px;
    height: 100px;
}