 :root
 {
    background-color:rgb(15,200,185);
 }
 @font-face {
    font-family:Montserrat-Black;
    src: url("fonts/Montserrat-Black.ttf")
 }
 @font-face
{
    font-family: Arvo-Bold;
    src: url("fonts/Arvo-Bold.ttf")
}
table, th, td 
{ 
   border: 2px solid gray; 
} 
p
{
   font-family:Montserrat-Black;
   font-size:smaller;
   color:black;
   margin:auto;
   background-color: #f5f5dc;

   margin-top:10px;
    margin-bottom:10px;
}
 img
 {
    width:200px;
    height:200px;    
    display: block;
    
 }
 a 
 {
   text-align: center;
   color:magenta;
   
 }
 #notforthisone
 {
    width:80px;
    height: 50px;
 }
 table img
 {
    height :100px;
    display: block;
    margin: auto;
 }
 h2
 {
   font-family: Arvo-Bold;
 color:rgb(10,180,18);
 text-align: center;
 }
 a:hover
 {
    background-color: gold;
 }
 .son
 {
   margin:auto;
   margin-left:200px;
 }
 .heropic:hover
        {
            background-color: red;
        }
 .bir
 {
   margin-bottom:10px;
   margin-top:10px;
 }
 .logo
 {
   height:20vh;
   width:25vw;
 }
 h3
 {
   text-align: center;
 }
 .fer
 {
   text-decoration:overline;
 }
 .fern
 {
   width:60vw;
   height:75vh;
   display:block;
   margin-left: 125px;
   margin-right:150px;
 }
 h1
 {
 font-family: Arvo-Bold;
 color:rgb(250,0,0);
 text-align: center;
 
 }
 .This
 {
   text-decoration-skip-ink:auto;
   text-decoration:underline;
 }
 li img
 {
   display:inline-block;
   margin-left: 100px;
   
 }
 li p
 {
   float: left;
   margin-right:100px;
   font-size:medium;
   margin-top:10px;
    margin-bottom:10px;
 }
 table
 {
   display:inline-table;
   margin:50px;
 }
 h4{
   text-align: center;
 }